<div style="padding:25px;">
  <h1>Send a message</h1>
  <%= form_tag '/messages' do %> 
    <% if params[:status] == 'rejected' %>
      <div>
        <textarea style="width:400px; height:150px;" name="message">Dear <%= params[:first_name] %>, thank you for your inquiry but ...</textarea>
      </div>
      <div>
        <%= hidden_field_tag :receiver, params[:email] %>
      </div>   
    <% elsif params[:status] == 'accepted' %>
      <div>
        <textarea style="width:400px; height:150px;" name="message">Dear <%= params[:first_name] %>, thank you for your inquiry.</textarea>
      </div>
      <div>
        <%= hidden_field_tag :receiver, params[:email] %>
      </div>  
    <% else %>
      <div>
        <textarea style="width:400px; height:150px;" name="message" placeholder="enter message here"></textarea>
      </div>
      <div>
        <%= label_tag "Receiver Email:" %>
        <%= text_field_tag :receiver, params[:email] %>
      </div>
    <% end %>
    <div>
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>