<h1>Here's the quote.</h1>

<div>
  <p><b>Type: </b> <%= @quote.order_type %> </p>
  <p><b>Product ID: </b> <%= @quote.product_id %> </p>
  <p><b>Unit Price: </b> <%= @quote.unit_price %> </p>
  <p><b>Quantity: </b> <%= @quote.quantity %> </p>
  <p><b>Lead Time: </b> <%= @quote.lead_time %> </p>
  <p><b>Quantity Discount: </b> <%= @quote.quantity_discount %> </p>
  <p><b>Ship From: </b> <%= @quote.ship_from %> </p>
  <p><b>Ship Method: </b> <%= @quote.ship_method %> </p>
  <p><b>Country of Origin: </b> <%= @quote.country_of_origin %> </p>
  <p><b>Note for Lead: </b> <%= @quote.note_for_lead %> </p>
  <p><b>Note for Sales: </b> <%= @quote.note_for_sales %> </p>
</div>

<a href="/quotes/<%= @quote.id %>/edit" class="btn btn-warning">Edit</a>
<div class="btn btn-primary">Send Quote</div>