


<div class="container">
<h1>Contact edit page</h1>
  <%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
    <table class="table table-condensed table-striped">
      <tr>
        <td>
          <%= label_tag :first_name %>
        </td>
        <td>
          <%= text_field_tag :first_name, @contact.first_name %>
        </td>
      </tr>

      <tr>
        <td>
          <%= label_tag :last_name %>
        </td>
        <td>
          <%= text_field_tag :last_name, @contact.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag :company_name %>
        </td>
        <td>
          <%= text_field_tag :company_name, @contact.company_name %> 
        </td>
      </tr>
      <tr>
        <td>
        <%= label_tag :email %>
        </td>
        <td>
          <%= text_field_tag :email, @contact.email %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :secondary_email %>
        </td>
        <td>
          <%= text_field_tag :secondary_email, @contact.secondary_email %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :phone_number %>
        </td>
        <td>
          <%= text_field_tag :phone_number, @contact.phone_number %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :mailing_street %>
        </td>
        <td>
          <%= text_field_tag :mailing_street, @contact.mailing_street %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :mailing_suite %>
        </td>
        <td>
          <%= text_field_tag :mailing_suite, @contact.mailing_suite %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :mailing_city %>
        </td>
        <td>
          <%= text_field_tag :mailing_city, @contact.mailing_city %>
        </td>
      </tr>    

      <tr>
        <td>
        <%= label_tag :mailing_state %>
        </td>
        <td>
          <%= text_field_tag :mailing_state, @contact.mailing_state %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :mailing_zip %>
        </td>
        <td>
          <%= text_field_tag :mailing_zip, @contact.mailing_zip %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :shipping_street %>
        </td>
        <td>
          <%= text_field_tag :shipping_street, @contact.shipping_street %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :shipping_suite %>
        </td>
        <td>
          <%= text_field_tag :shipping_suite, @contact.shipping_suite %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :shipping_city %>
        </td>
        <td>
          <%= text_field_tag :shipping_city, @contact.shipping_city %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :shipping_state %>
        </td>
        <td>
          <%= text_field_tag :shipping_state, @contact.shipping_state %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :shipping_zip %>
        </td>
        <td>
          <%= text_field_tag :shipping_zip, @contact.shipping_zip %>
        </td>
      </tr> 

      <tr>
        <td>
        <%= label_tag :country %>
        </td>
        <td>
          <%= text_field_tag :country, @contact.country %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :customer_notes %>
        </td>
        <td>
          <%= text_field_tag :customer_notes, @contact.customer_notes %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :registered %>
        </td>
        <td>
          <%= text_field_tag :registered, @contact.registered %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :subscribed %>
        </td>
        <td>
          <%= text_field_tag :subscribed, @contact.subscribed %>
        </td>
      </tr>

      <tr>
        <td>
        <%= label_tag :rating %>
        </td>
        <td>
          <%= text_field_tag :rating, @contact.rating %>
        </td>
      </tr>
    </table>


    <div>
      <%= submit_tag "Update contact information" %>
    </div>

  <% end %>

  <p><%= link_to "Back to Contacts List", "/contacts" %></p>
  <p><%= link_to "Back to Contact", "/contacts/#{@contact.id}" %></p>
</div>