

<div class="container">
<h1>Contacts Index Page</h1>

<p><%= link_to "Add a new contact", "/contacts/new" %></p>

<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Date Created</th>
  </tr>

        <% @contacts.each do |contact| %>

        <tr>
          <td>
            <p><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> </a></p>
          </td>
          <td>
            <p><%= contact.email %></p>
          </td>
          <td>
            <p><%= contact.phone_number %></p>
          </td>
          <td>
            <p><%= contact.created_at.strftime("%d %b. %Y")%></p>
          </td>
        </tr>
        <% end %>
</table>
</div>
