

<div class="container" ng-app="app">
<div ng-controller="contactsCtrl">
<h1>Contacts Index Page {{test}}</h1>
</div>
<p><%= link_to "Add a new contact", "/contacts/new" %></p>

<table class="table table-condensed table-striped">
  <tr>
    <th>Name <a href="/contacts?<%= @sorting_order %>=first_name"><span class ="<%= @sorting_caret %>"></span></a></th>
    <th>Company Name <a href="/contacts?<%= @sorting_order %>=company_name"><span class ="<%= @sorting_caret %>"></span></a></th>
    <th>Email <a href="/contacts?<%= @sorting_order %>=email"><span class ="<%= @sorting_caret %>"></span></a></th>
    <th>Phone Number</th>
    <th>Date Created <a href="/contacts?<%= @sorting_order %>=created_at"><span class ="<%= @sorting_caret %>"></span></a></th></th>
  </tr>

        <% @contacts.each do |contact| %>

        <tr>
          <td>
            <p><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> </a></p>
          </td>
          <td>
            <p><%= contact.company_name %></p>
          </td>
          <td>
            <p><%= contact.email %></p>
          </td>
          <td>
            <p><%= contact.phone_number %></p>
          </td>
          <td>
            <p><%= contact.created_at.strftime("%d %b. %Y")%></p>
          </td>
        </tr>
        <% end %>
</table>
<%= will_paginate @users %>
</div>
