<h1>Add a new contact</h1>

<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>


<%= form_tag '/contacts', method: :post do %>

  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @contact.first_name %>
  </div>

  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @contact.last_name %>
  </div>

  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @contact.email %>
  </div>

  <div>
    <%= label_tag :secondary_email %>
    <%= text_field_tag :secondary_email, @contact.secondary_email %>
  </div>  

  <div>
    <%= label_tag :company_name %>
    <%= text_field_tag :company_name, @contact.company_name %>
  </div>

  <div>
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone_number, @contact.phone_number %>
  </div>

  <div>
    <%= label_tag :mailing_street %>
    <%= text_field_tag :mailing_street, @contact.mailing_street %>
  </div>

  <div>
    <%= label_tag :mailing_suite %>
    <%= text_field_tag :mailing_suite, @contact.mailing_suite %>
  </div>

  <div>
    <%= label_tag :mailing_city %>
    <%= text_field_tag :mailing_city, @contact.mailing_city %>
  </div>

  <div>
    <%= label_tag :mailing_state %>
    <%= text_field_tag :mailing_state, @contact.mailing_state %>
  </div>  
      
  <div>
    <%= label_tag :mailing_zip %>
    <%= text_field_tag :mailing_zip, @contact.mailing_zip %>
  </div>

  <div>
    <%= label_tag :shipping_street %>
    <%= text_field_tag :shipping_street, @contact.shipping_street %>
  </div>

  <div>
    <%= label_tag :shipping_suite %>
    <%= text_field_tag :shipping_suite, @contact.shipping_suite %>
  </div>

  <div>
    <%= label_tag :shipping_city %>
    <%= text_field_tag :shipping_city, @contact.shipping_city %>
  </div>

  <div>
    <%= label_tag :shippin_zip %>
    <%= text_field_tag :shippin_zip, @contact.shipping_zip %>
  </div>

  <div>
    <%= label_tag :country %>
    <%= text_field_tag :country, @contact.country %>
  </div>

  <div>
    <%= label_tag :customer_notes %>
    <%= text_field_tag :customer_notes, @contact.customer_notes %>
  </div>

  <div>
    <%= submit_tag "Add contact!" %>
  </div>  

<% end %>

<h2><a href="/contacts">Back to index</a></h2>