<h2><%= @product.short_description %> has been created:</h2>

<table>
<tr>
  <td>
    <h5><b> SKU: </b> <%= @product.sku %> </h5>
  </td>
</tr>
  <tr>
    <td>
      <h5><b> Short Description: </b> <%= @product.short_description %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Description: </b> <%= @product.description %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Category: </b> <%= @product.category %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Vendor: </b> <%= @product.vendor %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Cost:</b> <%= @product.cost %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Unit Price: </b> <%= @product.unit_price %> </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h5><b> Qty In Stock: </b><%= @product.qty_in_stock %></h5>
    </td>
  </tr>
</table>
 



<%= link_to "Back to index", "/products", :class => "btn btn-primary" %>