<h2>Name Your Team and add 9 players</h2>
<div class="container-fluid">
	<%= form_for @product, url: {action: "create"} do |f| %>

		<div class="field">
		  <%= f.label :short_description %><br />
		  <%= f.text_field :short_description, autofocus: true %>
		</div>

		<div>
		  <%= f.label :description %><br />
		  <%= f.text_area :description %>
		</div>
		<div>
		  <%= f.label :category %><br />
		  <%= f.text_field :category %>
		</div>
		<div>
		  <%= f.label :vendor %><br />
		  <%= f.text_field :vendor %>
		</div>
		<div>
		  <%= f.label :cost %><br />
		  <%= f.number_field :cost, step: :any %>
		</div>
		<div>
	  	<%= f.label :unit_price %><br />
		  <%= f.number_field :unit_price, step: :any %>
		</div>
		<div>
			<%= f.label :qty_in_stock %><br />
			<%= f.number_field :qty_in_stock, step: :any %>
		</div>
		<div class="actions">
		  <%= f.submit "Save Product", :class => 'btn btn-large btn-primary'  %>
		</div>
	<% end %>
</div>




