<h2>Add A New Product</h2>
<div class="container-fluid">
	<%= form_tag '/products', method: :post do %>

		<div>
		  <%= label_tag :sku %><br />
		  <%= text_field_tag :sku," ", :autofocus => true %>
		</div>
		<div>
		  <%= label_tag :short_description %><br />
		  <%= text_field_tag :short_description %>
		</div>
		<div>
		  <%= label_tag :description %><br />
		  <%= text_area_tag :description %>
		</div>
		<div>
		  <%= label_tag :category %><br />
		  <%= text_field_tag :category %>
		</div>
		<div>
		  <%= label_tag :vendor %><br />
		  <%= text_field_tag :vendor %>
		</div>
		<div>
		  <%= label_tag :cost %><br />
		  <%= number_field_tag :cost, step: :any %>
		</div>
		<div>
	  	<%= label_tag :unit_price %><br />
		  <%= number_field_tag :unit_price, step: :any %>
		</div>
		<div>
			<%= label_tag :qty_in_stock %><br />
			<%= number_field_tag :qty_in_stock, step: :any %>
		</div>
		<div class="actions">
		  <%= submit_tag "Save Product", :class => 'btn btn-large btn-primary'  %>
		</div>
	<% end %>
</div>
