<h1> Product Detail </h1>

<a href="/products/<%= @product.id %>/edit" class="btn btn-warning">Edit</a>

<table>
  <tr>
    <td>
      <h4><b> SKU: </b> <%= @product.sku %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Short Description: </b> <%= @product.short_description %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Description: </b> <%= @product.description %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Category: </b> <%= @product.category %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Vendor: </b> <%= @product.vendor %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Cost:</b> <%= @product.cost %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Unit Price: </b> <%= @product.unit_price %> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4><b> Qty In Stock: </b><%= @product.qty_in_stock %></h4>
    </td>
  </tr>
</table>
  <p><%= link_to "Back To Products", "/products" %></p>
  <p><%= link_to "Edit Product", "/products/#{@product.id}/edit" %></p>
  <p><%= link_to "Delete This Product", "/products/#{@product.id}", method: :delete %></p>
